name: app_channel   
description: A new flutter plugin project.
version: 0.0.1
homepage:

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  # dio自动生成
  retrofit: ^4.1.0
  dio: ^5.4.3+1
  global_repository:
    git: https://github.com/nightmare-space/global_repository
  # 序列化json的
  json_annotation: ^4.8.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  # analyzer: ^6.5.0
  flutter_lints: ^1.0.0
  retrofit_generator: ^8.1.0
  build_runner: ^2.1.11
  json_serializable: ^6.2.0

flutter:
  plugin:
    platforms:
      android:
        package: com.nightmare.applib_util
        pluginClass: ApplibUtilPlugin
